/GestionLabo-ejb/build/
/GestionLabo-ejb/dist/
/GestionLabo-ejb/nbproject/private/
/GestionLabo-war/build/
/GestionLabo-war/dist/
/GestionLabo-war/nbproject/private/
/build/
/dist/
/nbproject/private/